extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is index pug page.
  button(type="button", class="btn btn-secondary") Press Me  for Contents
  <br>
  <br>
  button(type="button", class="btn btn-secondary",id="faster",onclick='goFaster()') Increase the speed
  //div(id="faster") Mph #{mph} change #{change}

  script 
    - var mph=20;
    - var change=1;
    function goFaster() 
      - mph=mph+change
      - change=change+1
  

  div(id="faster") Mph #{mph} change #{change}  
    
